.swiper-pagination-bullet-active { opacity: 1; background: #fff; }

#card_market header { width: 100vw; height: 12vw; display: flex; justify-content: flex-start; align-items: center; background-color: #f23d34; color: #fff; font-size: 3.7333333333vw; position: fixed; top: 0; left: 0; z-index: 1000; }
#card_market header a { width: 15.7333333333vw; display: flex; justify-content: center; align-items: center; }
#card_market header a i { font-size: 3.7333333333vw; color: #fff; margin-left: 1.3333333333vw; }
#card_market header a span { line-height: 3.7333333333vw; margin-left: 2vw; color: #fff; }
#card_market header .title { width: 76.4vw; font-size: 4.6666666667vw; color: #fff; text-align: center; padding-right: 5.3333333333vw; }
#card_market header .i-sousuo { width: 4.6666666667vw; text-align: right; }
#card_market .swiper-slide { background-color: #fff; padding-top: 12vw; }
#card_market .swiper-slide img { width: 100vw; height: 36.6666666667vw; }
#card_market .tree_done { width: 100vw; height: 9.8666666667vw; display: flex; justify-content: center; align-items: center; background-color: #fff; border-bottom: 0.5px solid #e8e8e8; }
#card_market .tree_done li { flex: 1; text-align: center; line-height: 9.8666666667vw; font-size: 3.7333333333vw; color: #434343; }
#card_market #part { width: 100%; }
#card_market #part .Handicap { border-bottom: 1px solid #e8e8e8; background-color: #fff; padding-bottom: 3.3333333333vw; }
#card_market #part .Handicap p { margin-left: 3.3333333333vw; }
#card_market #part .Handicap p span { font-size: 3.2vw; color: #000000; }
#card_market #part .Handicap p .bar_name { font-size: 4.2666666667vw; }
#card_market #part .Handicap p .bar_distance { color: #ffbf00; }
#card_market #part .Handicap p .bar_money { margin-left: 5.3333333333vw; }
#card_market #part .Handicap p .bar_address { color: #666; margin-top: 0.2666666667vw; margin-bottom: 1.3333333333vw; }
#card_market #part .Handicap p .bar_tel { color: #666; }
#card_market #part .Handicap p:nth-of-type(1) { padding-top: 3.0666666667vw; }
#card_market #part .Handicap p:nth-of-type(2), #card_market #part .Handicap p:nth-of-type(3) { margin-top: 1.3333333333vw; }
#card_market #part .Handicap p:nth-child(3) { margin-top: 0vw; }
#card_market #part .Handicap p:nth-of-type(2) { width: 89.0666666667vw; display: flex; justify-content: space-between; align-items: center; }
#card_market #part .commodity .item_list { width: 100%; height: 20vw; display: flex; justify-content: space-between; border-bottom: 1px solid #E8E8E8; background-color: #fff; }
#card_market #part .commodity .item_list #left { display: flex; }
#card_market #part .commodity .item_list #bonus_card { font-size: 3.2vw; margin: auto 0; margin-left: 2.9333333333vw; }
#card_market #part .commodity .item_list #bonus_card img { width: 11.7333333333vw; height: 6.6666666667vw; }
#card_market #part .commodity .item_list #detail { margin: auto 0; margin-left: 4vw; }
#card_market #part .commodity .item_list #detail span { display: inline-block; }
#card_market #part .commodity .item_list #detail span:nth-child(1) { color: #000; font-size: 4.1333333333vw; margin-bottom: 1.3333333333vw; }
#card_market #part .commodity .item_list #detail span:nth-child(2) { font-size: 3.2vw; display: block; }
#card_market #part .commodity .item_list #price { text-align-last: right; margin: auto 0; margin-right: 2.6666666667vw; }
#card_market #part .commodity .item_list #price span { display: inline-block; font-size: 3.2vw; margin-bottom: 1.3333333333vw; }
#card_market #part .commodity .item_list #price span:nth-child(2) { display: block; }

/*# sourceMappingURL=card_market.css.map */
