$vm_base: 750;
@function vm($px) {
    @return ($px / $vm_base) * 100vw;
}

$vm_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function r($px) {
    @return ($px / $vm_fontsize) * 1rem;
}

#card_market {
    header {
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        position: fixed;
         top: 0;
         left: 0;
         z-index: 1000;
        a {
            
            width: 108;
            i {
                font-size: vm(28);
                color: #fff;
                margin-left: vm(10);
            }
            span {
                line-height: vm(28);
                margin-left: vm(15);
                color: #fff;
            }
        }
        .title {
            width: vm(573);
            font-size: vm(34);
            color: #fff;
            text-align: center;
        }
        .i-sousuo {
            width: vm(35);
            text-align: right;
        }
    }
    //酒吧轮播图
    .swiper-slide {
        background-color: #fff;
        padding-top: vm(80);
        .slide_title {
            width: vm(710);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: vm(28);
            color: #000;
            padding: 0 vm(20);
            padding-top: vm(10);
            .match_name {
                flex: 1;
                //padding-left: vm(40);
                text-indent: vm(30);
            }
            .on_doing {
                flex: 1;
                text-align: center;
                text-indent: vm(20);
            }
            .match_time {
                flex: 1;
                text-align: right;
            }
        }
        .mui-slider-item {
            width: vm(750);
            display: flex;
            justify-content: center;
            //align-items: center;
            padding-bottom: vm(40);
            //float: left;
            .left,
            .right {
                //width: vm(144);
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img {
                    width: vm(111);
                    height: vm(111);
                    margin-bottom: vm(24);
                }
                span {
                    color: #000000;
                    font-size: vm(29);
                }
            }
            .left {
                //margin-left:vm(100)
            }
            .center {
                width: vm(286);
                display: flex;
                //              justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 vm(68);
                img {
                    width: vm(84);
                    height: vm(54);
                    margin-bottom: vm(20);
                    margin-top: vm(20);
                }
                p {
                    width: vm(286);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: vm(20);
                    span {
                        color: #000;
                        font-size: vm(26);
                    }
                }
                .percentCount2,
                .percentCount {
                    color: #fff;
                }
            }
        }
    }
    .tree_done {
        width: vm(750);
        height: vm(54);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-top: 0.5px solid #e8e8e8;
        border-bottom: 0.5px solid #e8e8e8;
        li {
            flex: 1;
            text-align: center;
            line-height: vm(54);
            font-size: vm(28);
            color: #434343;
        }
    }
    #part {
        width: 100%;
        //height: vm(212);
        //正好有间酒吧
        .Handicap {
            border-bottom: 1px solid #e8e8e8;
            background-color: #fff;
            padding-bottom: vm(25);
            p {
                margin-left: vm(25);
                span {
                    font-size: vm(24);
                    color: #000000;
                }
                .bar_name {
                    font-size: vm(32);
                    font-weight: bold;
                }
                .bar_distance {
                    color: #ffbf00;
                }
                .bar_money {
                    margin-left: vm(40);
                }
            }
            p:nth-of-type(1) {
                padding-top: vm(23);
            }
            p:nth-of-type(2),
            p:nth-of-type(3) {
                margin-top: vm(10);
            }
            p:nth-child(3) {
                margin-top: vm(0);
            }
            p:nth-of-type(2) {
                width: vm(668);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .commodity{
            .item_list{
                width: 100%;
                height: vm(150);
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #E8E8E8;
                background-color: #fff;
                #left{
                    display: flex;
                }
                #bonus_card{
                    font-size: vm(24);
                    margin: auto 0;
                    margin-left: vm(22);
                    span{
                        display: inline-block;
                        width: vm(88);
                        height: vm(50);
                        border-radius: vm(15);
                        line-height: vm(50);
                        text-align: center;
                        background-color: #108ee9;
                        color: #fff;
                    }
                }
                #detail{
                    
                    margin: auto 0;
                    margin-left: vm(30);
                    span{
                        display: inline-block;
                    }
                    span:nth-child(1){
                        font-size: vm(31);
                    }
                    span:nth-child(2){
                        font-size: vm(24);
                        display: block;
                    }
                } 
                #price{
                    text-align-last: right;
                    margin: auto 0;
                    margin-right: vm(20);
                    
                    span{
                        display: inline-block;
                        font-size: vm(24);
                    }
                    span:nth-child(2){
                        display: block;
                    }
                }
            }
        }
    }
}