$vm_base: 750;
@function vm($px) {
    @return ($px / $vm_base) * 100vw;
}


$vm_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function r($px) {
    @return ($px / $vm_fontsize) * 1rem;
}

body{
    height: 100%;
    background-color: #f6f6f6;
    line-height: none;
}
.index_header{
    width: vm(750);
    height: vm(80);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f23d34;
    color: #fff;
    h1{
        font-weight: normal;
        font-size: vm(32);
    }
    .header_right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        font-size: vm(28);
        span{
            margin-left: vm(150);
        }
        i{
            margin-right: vm(29);
            font-size: vm(26);
        }
    }
}


.index_slider_par{
        border-bottom: 1px solid #d2d2d2;
        background-color: #fff;
        width: vm(750);
        //height: vm(356);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    .slider_top1{
        background-color: #75a419;
        width: vm(438);
        height: vm(56);
        border-radius: vm(5);
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color: #fff;
            font-size: vm(40);
        }
    }
    .slider_top2{
        width: vm(438);
        height: vm(56);
        border-radius: vm(5);
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color:#000000;
            font-size: vm(31);
        }
        span:nth-of-type(2){
            margin: 0 vm(38);
        }
    }
}


    .index_scroll_par{
        //首页下拉加载更多
        border-bottom: 1px solid #d2d2d2;
        margin-top: vm(39);
        background-color: #fff;
        height: 100%;
        margin-bottom: vm(110);
//      .mui-scroll-wrapper{
            width: vm(750);
            //margin: 0 auto;
            position: static;
            .mui-scroll{
                position: static;
                width: vm(750);
                .title{
                    line-height: vm(64);
                    margin-bottom: 0;
                    font-size: vm(26);
                    color: #000000;
                    width: vm(710);
                    margin: 0 auto;
                }
                .xian{
                    width: vm(174);
                    height: 0;
                    border-top: 1px solid #BF1E2D;
                }
                dl{
                    //width: vm(750);
                    //margin: 0 auto;
                    margin-top: vm(20);
                    padding-left: vm(20);
                    display: flex;
                    justify-content: flex-start;
                    //align-items: center;
                    dt{
                        img{
                            width: vm(119);
                            height: vm(141);
                        }
                    }
                    dd{
                        margin-left: vm(33);
                        margin-right: vm(20);
                        width: vm(575);
                        border-bottom: 1px solid #D2D2D2;
                        h1{
                            color: #000;
                            font-size: vm(30);
                            margin: vm(20) 0 vm(6) 0;
                            font-weight: normal;
                        }
                        div:nth-of-type(1){
                            margin-bottom: vm(48);
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            //padding-right: vm(20);
                            .item{
                                font-size: vm(28);
                                color: #434343;
                                margin-right: vm(81);
                            }
                            .money{
                                 font-size: vm(28);
                                 color: #000;
                                 margin-right: vm(86);
                                 width: vm(86);
                            }
                            .btn{
                                //display: block;
                               font-size: vm(28); 
                               color: #fff;
                               width: vm(131);
                               line-height: vm(53);
                               border-radius: vm(3);
                               text-align: center;
                               background-color: #75A419;
                            }
                        }
                    }
                }
                
            }
//      } 
    }
    #tab1{
        
   
    //首页轮播图
    .swiper-slide{
        background-color: #fff;
        .mui-slider-item{
            width: vm(750);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: vm(40);
            //float: left;
            .left,.right{
                //width: vm(144);
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    width: vm(144);
                    height: vm(143);
                    margin-bottom: vm(24);
                }
                span{
                    color: #000000;
                    font-size: vm(29);
                }
            }
            .left{
                //margin-left:vm(100)
            }
            .center{
                width: vm(84);
                height: vm(54);
                margin: 0 vm(86);
                margin-top: vm(49);
            }
        }
    }
   }  
.index_par{
    position: relative;
    background-color: #dcdcdc;
}
.weui-tabbar{
    position: fixed;
    z-index: 2000;
    height: vm(110);
    width: vm(750);
    .weui-tabbar__item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .weui-tabbar__icon{
            font-size: vm(47);
            width: vm(47);
            height: vm(47);
        }
        .weui-tabbar__label{
            font-size: vm(20);
            margin-top: vm(10);
        }
    }
    
}
.weui-tabbar__item.weui-bar__item--on{
    .weui-tabbar__label {
        color: #bf1e2d;
    }
} 
.weui-bar__item--on{
    color: #bf1e2d;
}
.weui-tab{
    width: vm(750);
}



//********************************消费记录************************、、
.perchase_history_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            font-size: vm(28);
            color:#fff;
            margin-left: vm(20);
        }
        span{
            line-height: vm(28);
            margin-left: vm(10);
        }
    }
    .month{
        margin-left: vm(40);
        line-height: vm(56);
        font-size: vm(27);
        border-bottom: 1px solid #D2D2D2;
    }
    dl{
        width: vm(717);
        padding-left: vm(33);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        border-bottom: vm(1) solid #D2D2D2;
        dt{
            margin-top: vm(18);
            width: vm(93);
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: vm(96);
                height: vm(155);
            }
        }
        dd{
           padding-right: vm(28);
            padding-bottom: vm(43);
            width: vm(581);
            
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-left: vm(43);
            margin-top: vm(18);
            p{
                width: vm(553);
                display: flex;
                justify-content: space-between;
                .consumer_brand{
                    color: #000;
                    font-size: vm(34);
                }
                .consumer_money{
                    font-size: vm(32);
                    color: #000000;
                }
            }
            .consumer_time{
                font-size: vm(28);
                color: #bf1e2d;
                margin-top: vm(20);
            }
            
        }
    }
}

//***********************选择酒吧********************、、
.choose_bar_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            width: 108;
            i{
                font-size: vm(28);
                color:#fff;
                margin-left: vm(10);
            }
            span{
                font-size: vm(34);
                font-weight: 600;
                line-height: vm(28);
                margin-left: vm(15);
                color: #fff;
            }
        }
        .title{
            font-weight: bold;
             width: vm(573);
             font-size: vm(34);
             color: #fff;
             text-align: center;
        }
        .i-sousuo{
             width: vm(35);
             text-align: right;
        }
        
    }
    
    .match_home{
        background-color: #fff;
        width: vm(750);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img{
            width: vm(138);
            height: vm(138);
            margin-left: vm(72);
            margin-top: vm(59);
            margin-right: vm(80);
        }
        .match_mesg{
            p{
                width: vm(461);
                .match_time,.Handicap_bar,.court_rate{
                    margin-left: vm(18);
                }
            }
            span{
                font-size: vm(28);
                color: #000;
            }
            p:nth-of-type(1){
                margin-top: vm(37);
            }
            p:nth-of-type(3){
                margin-bottom: vm(40);
            }
        }
    }
    .tree_done{
        width: vm(750);
        height: vm(54);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #D2D2D2;
        li{
            flex: 1;
            text-align: center;
            line-height: vm(54);
            font-size: vm(28);
            color:#434343;
        }
    }
    .bar_title{
        //width: vm(750);
        height: vm(87);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 vm(22);
        background-color: #f6f6f6;
        .left,.right{
            width:vm(187);
            border-bottom: 1px solid #D2D2D2;
        }
        h1{
            //width: vm(331); 
            font-weight: normal;
            color: #434343;
            font-size: vm(28);  
        }
    }
    .Handicap{
        background-color: #fff;
        padding-bottom: vm(25);
        border-bottom: 1px solid #D2D2D2;
        p{
            margin-left: vm(25);
            span{
                font-size: vm(24);
                color:#000000;
            }
            .bar_name{
                font-size: vm(32);
                font-weight: 200;
            }
            .bar_distance{
                color: #ffbf00;
            }
            .bar_money{
                margin-left: vm(40);
            }
        }
        p:nth-of-type(1){
            padding-top: vm(23);
        }
        p:nth-of-type(2),p:nth-of-type(3){
            margin-top: vm(20);
        }
        p:nth-of-type(2){
            width: vm(668);
           display: flex;
            justify-content: space-between;
            align-items: center; 
        }
    }
}


//**********************选择酒卡************************//
.choose_card_par,.pay_all_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            i{
                font-size: vm(28);
                color:#fff;
                margin-left: vm(20);
            }
            span{
                line-height: vm(28);
                margin-left: vm(10);
                color: #fff;
            }
        }
        .bar_card{
            margin-left: vm(200);
        }
    }
    .match_home{
        background-color: #fff;
        width: vm(750);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img{
            width: vm(138);
            height: vm(138);
            margin-left: vm(72);
            margin-top: vm(59);
            margin-right: vm(80);
        }
        .match_mesg{
            p{
                width: vm(461);
                .match_time,.Handicap_bar,.court_rate{
                    margin-left: vm(18);
                }
            }
            span{
                font-size: vm(28);
                color: #000;
            }
            p:nth-of-type(1){
                margin-top: vm(37);
            }
            p:nth-of-type(3){
                margin-bottom: vm(40);
            }
        }
    }
    .bar_name{
        width: vm(706);
        padding: 0 vm(22);
        background-color: #ffffff;
        border-bottom: 1px solid #f23d34;
        font-size: vm(34);
        color: #000；
    }
    .liuk_card{
        width: vm(706);
        padding: 0 vm(22);
        background-color: #ffffff;
    }
    .liuk_card{
        width: vm(706);
        padding: 0 vm(22);
        background-color: #ffffff;
        padding-top: vm(30);
        padding-bottom: vm(37);
        border-bottom: 1px solid #F6F6F6;
        .car_top{
            width: vm(706);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            .card_right1{
                width: vm(630);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: vm(15);
                p{
                    color: #000;
                    .band_name{
                        font-size: vm(30);
                    }
                    .band_num{
                        font-size: vm(30);
                    }
                }
                .band_money{
                    color: #000;
                    font-size: vm(24);
                }
            }
            .card_right2{
                width: vm(630);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: vm(72);
                p{
                    color: #000;
                     font-size: vm(24);
                    .band_time{
                        
                    }
                    .band_timer{
                        
                    }
                }
                .band_win{
                    color: #000;
                     font-size: vm(24);
                }
            }
        }
        .down{
            //width: vm(750);
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            .purchase_btn{
                width: vm(274);
                line-height: vm(54);
                color: #fff;
                background-color: #f23d34;
                font-size: vm(28);
                text-align: center;
                border-radius: vm(30);
                margin-top: vm(37);
            }
        }
    }
}


//***********************支付*****************
.pay_all_par{
    .wechat_pay,.ali_pay,.balance_pay{
       width: vm(710); 
       padding: 0 vm(20);
       display: flex;
        justify-content: flex-start;
        align-items: center;
        line-height:vm(128);
        border-bottom: 1px solid #D2D2D2;
        background-color: #fff;
        span{
            font-size: vm(31);
            color: #000;
        }
        i{
            margin-right: vm(40);
        }
        .balance{
            margin-left: vm(303);
        }
    }
    .immed_pay{
        width: vm(750);
        display: flex;
        justify-content: center;
        align-items: center;
        .purchase_btn{
            width: vm(630);
            line-height: vm(64);
            text-align: center;
            color: #fff;
            font-size: vm(31);
            background-color: #f23d34;
            border-radius: vm(32);
            margin-top: vm(60);
        }
    }
}


//************************酒吧*******************//
.bar_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            width: 108;
            i{
                font-size: vm(28);
                color:#fff;
                margin-left: vm(10);
            }
            span{
                
                line-height: vm(28);
                margin-left: vm(15);
                color: #fff;
            }
        }
        .title{
            font-weight: bold;
             width: vm(573);
             font-size: vm(34);
             color: #fff;
             text-align: center;
        }
        .i-sousuo{
             width: vm(35);
             text-align: right;
        }
        
    }
    
    //酒吧轮播图
    .swiper-slide{
        background-color: #fff;
        .slide_title{
            width: vm(710);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: vm(28);
            color: #000;
            padding: 0 vm(20);
            .match_name{
                flex: 1;
                //padding-left: vm(40);
                text-indent: vm(30);
            }
            .on_doing{
                flex: 1;
                text-align: center;
                text-indent: vm(20);
            }
            .match_time{
                flex: 1;
                text-align: right;
            }
        }
        .mui-slider-item{
            width: vm(750);
            display: flex;
            justify-content: center;
            //align-items: center;
            padding-bottom: vm(40);
            //float: left;
            .left,.right{
                //width: vm(144);
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    width: vm(111);
                    height: vm(111);
                    margin-bottom: vm(24);
                }
                span{
                    color: #000000;
                    font-size: vm(29);
                }
            }
            .left{
                //margin-left:vm(100)
            }
            .center{
                width: vm(286);
                display: flex;
//              justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 vm(68);
                img{
                    width: vm(84);
                    height: vm(54);
                    margin-bottom: vm(20);
                    margin-top: vm(20);
                }
                p{
                    width: vm(286);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: vm(20);
                    span{
                        color:#000;
                        font-size: vm(26);
                    }
                }
                .percentCount2,.percentCount{
                    color: #fff;
                }
            }
        }
    }
    
    
    
    .tree_done{
        width: vm(750);
        height: vm(54);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-top: 1px solid #D2D2D2;
        border-bottom:1px solid #D2D2D2;
        li{
            flex: 1;
            text-align: center;
            line-height: vm(54);
            font-size: vm(28);
            color:#434343;
        }
    }
    .bar_title{
        //width: vm(750);
        height: vm(87);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 vm(22);
        background-color: #f6f6f6;
        .left,.right{
            width:vm(187);
            border-bottom: 1px solid #D2D2D2;
        }
        h1{
            //width: vm(331); 
            font-weight: normal;
            color: #434343;
            font-size: vm(28);  
        }
    }
    .Handicap{
        background-color: #fff;
        a{
            
            
            background-color: #fff;
            padding-bottom: vm(25);
            border-bottom: 1px solid #D2D2D2;
            p{
                margin-left: vm(25);
                span{
                    font-size: vm(24);
                    color:#000000;
                }
                .bar_name{
                    font-size: vm(32);
                    font-weight: 200;
                }
                .bar_distance{
                    color: #ffbf00;
                }
                .bar_money{
                    margin-left: vm(40);
                }
            }
            p:nth-of-type(1){
                padding-top: vm(23);
            }
            p:nth-of-type(2),p:nth-of-type(3){
                margin-top: vm(20);
            }
            p:nth-of-type(2){
                width: vm(668);
               display: flex;
                justify-content: space-between;
                align-items: center; 
            }
        }
    }
}


//********************有间正好酒吧*************************//
.bar_detail_par{
        header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        span{
            margin-left: vm(240);
            font-size: vm(34);
            color: #fff;
        }
        a{
            width: vm(35);
            text-align: right;
             color: #fff;
        }
        
    }
    .bar_detail{
        padding: 0 vm(28) 0 vm(26);
        width: vm(698);
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        
        .left{
            width: vm(115);
            height: vm(115);
            border-radius: 50%;
            margin-top: vm(23);
            margin-bottom: vm(28);
        }
        .center{
            color:#000;
            width: vm(509);
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-left: vm(42);
            margin-top: vm(23);
            h1{
                font-weight: normal;
                font-size: vm(28);
            }
            span{
                font-size: vm(24);
                
            }
            .address{
                
            }
            .tel{
                
            }
        }
        i{
            margin-top: vm(23);
        }
    }
    .chang_title{
        line-height: vm(54);
        text-align: center;
        color: #000;
        font-size: vm(31);
        margin: vm(14) 0;
        font-weight: normal;
        background-color: #fff;
    }
    //酒吧轮播图
    .swiper-slide{
        background-color: #fff;
        .slide_title{
            width: vm(710);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: vm(28);
            color: #000;
            padding: 0 vm(20);
            .match_name{
                flex: 1;
                //padding-left: vm(40);
                text-indent: vm(30);
            }
            .on_doing{
                flex: 1;
                text-align: center;
                text-indent: vm(20);
            }
            .match_time{
                flex: 1;
                text-align: right;
            }
        }
        .mui-slider-item{
            width: vm(750);
            display: flex;
            justify-content: center;
            //align-items: center;
            padding-bottom: vm(40);
            //float: left;
            .left,.right{
                //width: vm(144);
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    width: vm(111);
                    height: vm(111);
                    margin-bottom: vm(24);
                }
                span{
                    color: #000000;
                    font-size: vm(29);
                }
            }
            .left{
                //margin-left:vm(100)
            }
            .center{
                width: vm(286);
                display: flex;
//              justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 vm(68);
                img{
                    width: vm(84);
                    height: vm(54);
                    margin-bottom: vm(20);
                    margin-top: vm(20);
                }
                p{
                    width: vm(286);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: vm(20);
                    span{
                        color:#000;
                        font-size: vm(26);
                    }
                }
                .percentCount2,.percentCount{
                    color: #fff;
                }
            }
        }
    }
    #game_one {
        margin-bottom: vm(20);
        width: 100%;
        background-color: #ffffff;
        margin-top: vm(15);
        #game_title {
            display: flex;
            justify-content: space-between;
            span {
                display: inline-block;
            }
            span:nth-child(1) {
                margin-left: vm(20);
                font-size: vm(29);
            }
            span:nth-child(2) {
                padding-left: vm(60);
                font-size: vm(29);
            }
            span:nth-child(3) {
                margin-right: vm(20);
                font-size: vm(24.3);
            }
        }
        #game_msg {
            margin-top: vm(30);
            display: flex;
            justify-content: space-between;
            span {
                margin-top: vm(15);
                display: block;
                text-align: center;
                font-size: vm(27.77);
            }
            img {
                width: vm(124);
                height: vm(124);
            }
            #team1 {
                margin-left: vm(42);
            }
            #team2 {
                margin-right: vm(42);
            }
            #state {
                position: relative;
                top: vm(-60);
                #progressbar1 {
                    width: vm(290);
                }
                #vs {
                    width: vm(290);
                    display: inline-block;
                    color: #626262;
                    font-size: vm(70);
                }
                #ratio {
                    display: flex;
                    justify-content: space-between;
                    span {
                        font-size: vm(26.31);
                        display: inline-block;
                    }
                }
            }
        }
         #odds {
        height: vm(225);
        background-color: #fff;
        #odd_one,
        #odd_two {
            margin-top: vm(20);
            display: flex;
            justify-content: space-between;
            #main {
                margin-left: vm(20);
                width: vm(230);
                height: vm(90);
                background-color: #e5e5e5;
                span {
                    display: inline-block;
                    width: vm(230);
                    text-align: center;
                    font-size: vm(28);
                }
            }
            #middle {
                span:nth-child(1) {
                    font-size: vm(35);
                }
                span:nth-child(2) {
                    position: relative;
                    top: vm(-10);
                }
                span {
                    display: inline-block;
                    width: vm(230);
                    text-align: center;
                    font-size: vm(28);
                }
            }
            #away {
                margin-right: vm(20);
                width: vm(230);
                height: vm(90);
                background-color: #e5e5e5;
                span {
                    display: inline-block;
                    width: vm(230);
                    text-align: center;
                    font-size: vm(28);
                }
            }
        }
    }
    }
    
}
//************************************设置**************************//
.setting_par,.bind_phone_par,.change_pwd_par,.change_pwd_par,.chong_zhi_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            i{
                font-size: vm(28);
                color:#fff;
                margin-left: vm(20);
            }
            span{
                line-height: vm(28);
                margin-left: vm(10);
                color: #fff;
            }
        }
        .bar_card{
            margin-left: vm(200);
        }
    }
    .name_phone,.name_pwd{
        a{
            width: vm(750);
            padding: 0 vm(33);
            height: vm(139);
            border-bottom: 1px solid #f6f6f6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: vm(31);
            color: #000;
            background-color: #fff;
            .title_item{
            
            }
            p{
                width: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .tel_name{
                    
                }
                i{
                    
                }
            }
        } 
    }
    .out_login{
        display: block;
        width: vm(600);
        line-height: vm(82);
        text-align: center;
        color: #fff;
        font-size: vm(31);
        background-color: #f23d34;
        border-radius: vm(30);
        margin: 0 auto;
        border: none;
        margin-top:vm(33);
    }
}


//*******************************绑定手机号
.bind_phone_par{
    .name_phone,.name_pwd{
        width: vm(750);
        padding: 0 vm(33);
        height: vm(139);
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: vm(31);
        color: #000;
        background-color: #fff;
        .vail_code{
            width: vm(155);
            line-height: vm(66);
            color: #fff;
            text-align: center;
            background-color: #108ee9;
            border: none;
        }
        input{
            width: vm(340);
            font-size: vm(31);
            text-indent: vm(25);
            border: none;
        }
    }
    .out_login{
        display: block;
        width: vm(600);
        line-height: vm(82);
        text-align: center;
        color: #fff;
        font-size: vm(31);
        background-color: #f23d34;
        border-radius: vm(30);
        margin: 0 auto;
        border: none;
        margin-top:vm(33);
    }
}


//******************************修改密码*****************
.change_pwd_par{
    .name_phone,.name_pwd,.name_pwd2{
        width: vm(750);
        padding: 0 vm(33);
        height: vm(139);
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: vm(31);
        color: #000;
        background-color: #fff;
        .vail_code{
            width: vm(155);
            line-height: vm(66);
            color: #fff;
            text-align: center;
            background-color: #108ee9;
            border: none;
        }
        input{
            width: vm(340);
            font-size: vm(31);
            text-indent: vm(25);
            border: none;
        }
    }
    .out_login{
        display: block;
        width: vm(600);
        line-height: vm(82);
        text-align: center;
        color: #fff;
        font-size: vm(31);
        background-color: #f23d34;
        border-radius: vm(30);
        margin: 0 auto;
        border: none;
        margin-top:vm(33);
    }
}

//**********************提现**********充值金额**********
.change_pwd_par,.chong_zhi_par{
    li{
        width: vm(750);
        padding: 0 vm(33);
        height: vm(139);
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: vm(31);
        color: #000;
        background-color: #fff;
        p{
             display: flex;
            justify-content: flex-start;
            align-items: center;
            .bank_name{
                margin-left: vm(50);
            }
        }
    }
    .add_pay_way{
        width: vm(750);
        padding: 0 vm(33);
        height: vm(139);
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vm(31);
        color: #000;
        background-color: #fff;
    }
    .money_num{
        width: vm(750);
        padding: 0 vm(33);
        height: vm(139);
        border-bottom: 1px solid #f6f6f6;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        font-size: vm(31);
        color: #000;
        background-color: #fff;
        p{
            font-size: vm(31);
            color: #000; 
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input{
                border: none;
                 font-size: vm(31);
                color: #000;
            }
        }
        .menoy_title{
            margin-bottom: vm(25);
        }
    }
}


//***************************明细*******************//
.detail_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            i{
                font-size: vm(28);
                color:#fff;
                margin-left: vm(20);
            }
            span{
                line-height: vm(28);
                margin-left: vm(10);
                color: #fff;
            }
        }
        .bar_card{
            margin-left: vm(200);
        }
    }
    .title_par{
        width: vm(750);
        padding: 0 vm(22);
        background-color: #fff;
        h1{
            color: #000000;
            font-size: vm(31);
            font-weight: normal;
            line-height: vm(78);
            border-bottom: 1px solid #f23d34;
        }
    }
    ul{
        .items{
            width: vm(750);
            border-bottom: 1px solid #f6f6f6;
            padding: 0 vm(23);
            background-color: #fff;
            .top1{
                font-size: vm(27);
                color: #000;
                padding-top: vm(20);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .top2{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: vm(10);
                p{
                    font-size: vm(27);
                    color: #000;
                    margin-bottom: vm(20);
                    .item{
                        
                    }
                    .item_money{
                        
                    }
                }
                .shouzhi{
                    color: #f23d34;
                    font-size: vm(27);
                }
            }
        }
    }
}




//*******************************我的中心***************
.my_center_par{
    .top{
        height: vm(270);
        width: vm(750);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        padding: 0 vm(40);
        
        .tx_host{
            width: vm(143);
            height:vm(143);
            border-radius: 50%;
            margin-right: vm(60);
        }
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: vm(260);
            .name{
                font-size: vm(27);
                color: #fff;
            }
            .name_vip{
                font-size: vm(27);
                color: #fff;
               background-color: #ffce3d;
            }
        }
    }
    .my_card{
        background-color: #fff;
        font-size: vm(30);
        color: #000;
        padding: 0 vm(40);
        padding-top: vm(20);
    }
    .items_lists{
        display: flex;
        align-items: center;
        justify-content: center;
        height: vm(184);
        background-color: #fff;
        
        li{
            //display: flex;
            flex: 1;
            a{
                width: inherit;
                display: flex;
                //justify-content: center;
                align-items: center;
                flex-direction: column;
                span{
                    line-height: vm(27);
                    font-size: vm(27);
                    color: #959595;
                    margin-top: vm(14);
                }
            }
        }
    }
    .name_phone,.name_pwd{
        margin-top: vm(12);
        a{
            width: vm(750);
            padding: 0 vm(33);
            height: vm(139);
            border-bottom: 1px solid #f6f6f6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: vm(31);
            color: #000;
            background-color: #fff;
            .title_item{
            
            }
            p{
                width: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .tel_name{
                    
                }
                i{
                    margin-left: vm(10);
                }
            }
        } 
    }
}


//&****************我的资料****************
.my_data_par{
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        a{
            i{
                font-size: vm(28);
                color:#fff;
                margin-left: vm(20);
            }
            span{
                line-height: vm(28);
                margin-left: vm(10);
                color: #fff;
            }
        }
        .bar_card{
            margin-left: vm(200);
        }
    }
    .name_tx{
        padding: vm(50) 0;
        background-color: #fff;
        border-bottom: 1px solid #f6f6f6;
    }
    .name_phone,.name_tx{
        border-bottom: 1px solid #f6f6f6;
        a{
            width: vm(750);
            padding: 0 vm(33);
            height: vm(139);
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: vm(31);
            color: #000;
            background-color: #fff;
            .title_item{
            
            }
            p{
                width: auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img{
                    width: vm(143);
                    height: vm(143);
                    border-radius: 50%;
                }
                .tel_name{
                    
                }
                i{
                    margin-left: vm(10);
                }
            }
        } 
    }
}
