$vm_base: 750;
@function vm($px) {
    @return ($px / $vm_base) * 100vw;
}

$vm_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function r($px) {
    @return ($px / $vm_fontsize) * 1rem;
}

body {
    font-family: "微软雅黑";
    height: 100%;
    background-color: #f6f6f6;
    line-height: none;
}
#mark_index{
    width: vm(750);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hei.png);
    background-size: 100% 100%;
    //display: none;
    #close_i{
        width: vm(41);
        height: vm(41);
        position: absolute;
        top: 18vh;
        left: vm(600);
        z-index: 10000;
        }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
    }
    .swiper-container{

        .swiper-slide{
            text-align: center;
            img{
                width: vm(500);
                height: 60vh;
            }
        }
    }
    
}
#index {
    margin-bottom: vm(110);
    .index_header {
        width: vm(750);
        height: vm(88);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        position: fixed;
        top: 0;
        //left: 0;
        z-index: 1000;
        h1 {
            font-weight: normal;
            font-size: vm(35);
        }
        .header_right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: vm(25);
            margin-left: vm(150);
            span {
                //margin-left: vm(150);
            }
            i {
                margin-right: vm(29);
                font-size: vm(26);
            }
        }
    }
    #game {
        
       margin-top: vm(80);
        #game_one,
        #game_two,
        #game_three {
            margin-bottom: vm(20);
            //width: 100%;
            width: vm(750);
            background-color: #ffffff;
            padding-top: vm(20);
            #game_title {
                display: flex;
                justify-content: space-between;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    display: inline-block;
                }
                span:nth-child(1) {
                    flex: 1;
                    margin-left: vm(25);
                    font-size: vm(29);
                }
                span:nth-child(2) {
                    flex: 1;
                    //padding-left: vm(60);
                    font-size: vm(29);
                    text-align: center;
                }
                span:nth-child(3) {
                    flex: 1;
                    margin-right: vm(25);
                    font-size: vm(24.3);
                    text-align: right;
                }
            }
            #game_msg {
                margin-top: vm(30);
                display: flex;
                justify-content: space-between;
                padding-bottom: vm(20);
                span {
                    margin-top: vm(15);
                    display: block;
                    text-align: center;
                    font-size: vm(27.77);
                }
                img {
                    width: vm(124);
                    height: vm(124);
                }
                #team1 {
                    margin-left: vm(42);
                }
                #team2 {
                    margin-right: vm(42);
                }
                #state {
                    position: relative;
                    top: vm(-60);
                    #progressbar1 {
                        width: vm(290);
                    }
                    #vs {
                        width: vm(290);
                        display: inline-block;
                        color: #626262;
                        font-size: vm(70);
                        margin-bottom: vm(10);
                        margin-top: vm(30);
                    }
                    #ratio {
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-size: vm(26.31);
                            display: inline-block;
                        }
                    }
                }
            }
            .odds{
                display: none;
                a{
                    
                    color: #000;
                    height: vm(225);
                    background-color: #fff;
                    #odd_two {
                        padding-bottom: vm(20);
                    }
                    #odd_one,
                    #odd_two {
                        margin-top: vm(20);
                        display: flex;
                        justify-content: space-between;
                        #main {
                            margin-left: vm(20);
                            width: vm(230);
                            height: vm(90);
                            background-color: #e5e5e5;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            span {
                                display: inline-block;
                                width: vm(230);
                                text-align: center;
                                font-size: vm(28);
                            }
                        }
                        #middle {
                             display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            span:nth-child(1) {
                                font-size: vm(35);
                            }
                            span:nth-child(2) {
                                position: relative;
                                top: vm(10);
                            }
                            span {
                                display: inline-block;
                                width: vm(230);
                                text-align: center;
                                font-size: vm(28);
                            }
                        }
                        #away {
                             display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            margin-right: vm(20);
                            width: vm(230);
                            height: vm(90);
                            background-color: #e5e5e5;
                            span {
                                display: inline-block;
                                width: vm(230);
                                text-align: center;
                                font-size: vm(28);
                            }
                        }
                    }
                }    
            }
        }
        
    }
   
    
   
}