$vm_base: 750;
@function vm($px) {
    @return ($px / $vm_base) * 100vw;
}

$vm_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function r($px) {
    @return ($px / $vm_fontsize) * 1rem;
}
#market_bar_detail{
    background-color: #f6f6f6;
    height: vm(1334);
    header{
        width: vm(750);
        height: vm(80);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f23d34;
        color: #fff;
        font-size: vm(28);
        //padding: 0 vm(20);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
        span{
            margin-left: vm(240);
            font-size: vm(34);
            color: #fff;
        }
        a{
            width: vm(35);
            text-align: right;
             
        }
        
    }
    .bar_detail{
        padding: 0 vm(28) 0 vm(26);
        width: vm(698);
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        margin-top: vm(80);
        .left{
            width: vm(115);
            height: vm(115);
            border-radius: 50%;
            margin-top: vm(23);
            margin-bottom: vm(28);
        }
        .center{
            color:#000;
            width: vm(509);
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-left: vm(42);
            margin-top: vm(23);
            h1{
                font-weight: normal;
                font-size: vm(28);
            }
            span{
                font-size: vm(24);
                
            }
            .address{
                
            }
            .tel{
                
            }
        }
        i{
            margin-top: vm(23);
        }
    }
    .chang_title{
        line-height: vm(54);
        text-align: center;
        color: #000;
        font-size: vm(31);
        margin: vm(14) 0;
        font-weight: normal;
        background-color: #fff;
    }
    
    #part {
        width: 100%;
        
        //正好有间酒吧
        
        .commodity{
           
            .item_list{
                 background-color: #fff;
                 margin-top: vm(20);
                width: 100%;
                height: vm(150);
                display: flex;
                justify-content: space-between;
                
                #left{
                    display: flex;
                }
                #bonus_card{
                    font-size: vm(24);
                    margin: auto 0;
                    margin-left: vm(22);
                    span{
                        display: inline-block;
                        width: vm(88);
                        height: vm(50);
                        border-radius: vm(15);
                        line-height: vm(50);
                        text-align: center;
                        background-color: #108ee9;
                        color: #fff;
                    }
                }
                #detail{
                    
                    margin: auto 0;
                    margin-left: vm(30);
                    span{
                        display: inline-block;
                    }
                    span:nth-child(1){
                        font-size: vm(31);
                    }
                    span:nth-child(2){
                        font-size: vm(24);
                        display: block;
                    }
                } 
                #price{
                    text-align-last: right;
                    margin: auto 0;
                    margin-right: vm(20);
                    
                    span{
                        display: inline-block;
                        font-size: vm(24);
                    }
                    span:nth-child(2){
                        display: block;
                    }
                }
            }
        }
    }
}
