 $vm_base: 750;
 @function vm($px) {
     @return ($px / $vm_base) * 100vw;
 }
  body{
     background-color: #f6f6f6;
 }
 #no_pay{
     header {
         width: vm(750);
         height: vm(88);
         display: flex;
         justify-content: flex-start;
         align-items: center;
         background-color: #f23d34;
         color: #fff;
         position: fixed;
         top: 0;
         left: 0;
         z-index: 1000;
         //padding: 0 vm(20);
         a {
             
            i{
                 font-size: vm(30);
                color: #fff;
                margin-left: vm(20);
            }
            span {
                 //font-weight: bold;
                 display: inline-block;
                 font-size: vm(30);
                 //margin-left: vm(15);
                 color: #fff;
             }
         }
         
     }
     #des{
         background-color: #fff;
         display: flex;
         margin-top: vm(80);
         #left{
             width: vm(280);
             height: vm(280);
            display: flex;
            justify-content: center;
            align-items: center;
            
             img{
                
                 
                 width: vm(137);
                 height: vm(137);
             }
         }
         #right{
             font-size: vm(28);
             margin: auto 0;
             p{
                 margin-top: vm(10);
                 margin-bottom: vm(10);
                 span{
                     margin-right: vm(15);
                 }
             }
         }
     }
     #bar_one{
          #item_title{
             font-size: vm(31);
             font-weight: bold;
             margin-left: vm(30);
             margin-right: vm(20);
             height: vm(75);
             line-height: vm(75);
             border-bottom: 1px solid #f23d34;
         }
         #state {
             width: 100%;
             display: flex;
             background-color: #fff;
             justify-content: space-around;
             
             border-bottom: 1px solid #E8E8E8;
             padding-bottom: vm(30);
             span {
                 
                 display: inline-block;
                 width: vm(280);
                 //height: vm(70);
                 line-height: vm(70);
                 text-align: center;
                 color: #fff;
                 border-radius: vm(8);
                 font-size: vm(28);
             }
             span:nth-child(1) {
                 background-color: #a0a0a0;
             }
             span:nth-child(2) {
                 background-color: #f23d34;
             }
         }
         .item_list{
                width: 100%;
                height: vm(150);
                display: flex;
                justify-content: space-between;
                background-color: #fff;
                #left{
                    display: flex;
                }
                #bonus_card{
                    font-size: vm(24);
                    margin: auto 0;
                    margin-left: vm(22);
                    img{
                        display: inline-block;
                        width: vm(88);
                        height: vm(50);
                        border-radius: vm(8);
                        line-height: vm(50);
                        text-align: center;
                        background-color: #108ee9;
                        color: #fff;
                    }
                }
                #detail{
                    
                    margin: auto 0;
                    margin-left: vm(30);
                    span{
                        display: inline-block;
                    }
                    span:nth-child(1){
                        font-size: vm(31);
                        color: #000;
                    }
                    span:nth-child(2){
                        font-size: vm(24);
                        display: block;
                        margin-top: vm(10);
                    }
                } 
                #price{
                    text-align-last: right;
                    margin: auto 0;
                    margin-right: vm(20);
                    
                    span{
                        display: inline-block;
                        font-size: vm(25);
                        position: relative;
                        top: vm(-20);
                    }
                   
                }
            }
     }
 }
