$vm_base: 750;
@function vm($px) {
    @return ($px / $vm_base) * 100vw;
}

$vm_fontsize: 75; // iPhone 6尺寸的根元素大小基准值
@function r($px) {
    @return ($px / $vm_fontsize) * 1rem;
}

.purchases {
    header {
        width: vm(750);
        height: vm(93);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #BF1E2D;
        color: #fff;
        font-size: vm(28);
        padding: 0 vm(20);
        a {
            font-size: vm(28);
            color: #fff;
        }
        span {
            line-height: vm(28);
            margin-left: vm(10);
        }
    }
}